## Final solution was a direct filter. Things I tried out:

    1. Tried converting the text column in the dataset to TF-IDF using CountVectorizer and applied Logistic Regression Classifier but it's performance wasn't better than direct filtering.
    2. A direct filter of getting the medium counts of review was logical as a negative reviewer will have something to justify his negative review and will not be too long because the user is already frustrated with the product.

In [1]:
#importing the libraries used for analysis

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.metrics import *
from sklearn.feature_selection import *
from sklearn.model_selection import *
from sklearn.ensemble import *
from sklearn.neighbors import *
from sklearn.linear_model import *
import seaborn as sns
import warnings
from sklearn.feature_extraction.text import *

import os

warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

os.chdir(r'C:\AnalyticsVidyaCompetitions\Skillenza Data Semantics')

In [2]:
#loading train data
train_raw=pd.read_csv('training_1.csv')

#loading test data
test_raw=pd.read_csv('test.csv')

In [3]:
# Analysing the dataset for missing values

train_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3464 entries, 0 to 3463
Data columns (total 3 columns):
id          3464 non-null int64
category    3464 non-null int64
text        3464 non-null object
dtypes: int64(2), object(1)
memory usage: 81.3+ KB

In [4]:
# Analysing the test dataset for missing values

test_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1360 entries, 0 to 1359
Data columns (total 2 columns):
id      1360 non-null int64
text    1360 non-null object
dtypes: int64(1), object(1)
memory usage: 21.4+ KB

In [5]:
#creating derived variables

def clean_df(df):

    df['length']=[len(i) for i in df.text]

#bin range varied for each subsmission 
    
    df['category_length']=pd.cut(df.length,[0,100,200,10000],labels=['Low_count','Mid_count','High_count']) 

clean_df(train_raw)

clean_df(test_raw)

#Analyzing cross tab an important relationship appears between Mid count and the rest of the data which is 
# why instead of modelling the data a direct filter can be applied to solve this problem provding high score

pd.crosstab(train_raw.category_length,train_raw.category)

category            0    1
category_length
Low_count        2482   11
Mid_count         751  105
High_count        114    0

In [223]:
#Validating the operation of derived var on test set
test_raw.head()

,id,text,length,category_length
0,3729,2705 4888 5050 5815 2472 5157 652 2117 2110 32...,140,Mid_count
1,3732,389 4978 315 5178 513 5249 5853 3267 315 3891 ...,128,Mid_count
2,3761,4478 4231 4858 2638 4231 867 371 686 4888 4179...,145,Mid_count
3,5,3015 1911 112 3905 825 337 315 1693 4677 825 5...,63,Low_count
4,7,5136 3918 5153 2023 3091 4159 315 3711 1409 27...,86,Low_count

In [224]:
# Applying the filter of mid_count i.e count of reviews in between 100 and 200 letters then it has 
# high likelihood of being a negative review

test_raw['category']=np.where(test_raw['category_length']=='Mid_count',1,0)

test_raw.drop(['text','length','category_length'],axis=1,inplace=True)

print(test_raw.head())

test_raw.to_csv('sample_submission.csv',index=False)

     id  category
0  3729         1
1  3732         1
2  3761         1
3     5         0
4     7         0